<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mikro.Properties.Settings.DESKTOP_8LLIB44_USERBConnectionString"
            connectionString="Data Source=DESKTOP-8LLIB44\USERB;Initial Catalog=MikroDB_V15_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>